/*
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 20px;
  }
  h3 {
    font-size: 42px;  
  }
  h5 {
    font-size: 30px;  
  }
    
.flip-container, .front, .back {
  height: 285px;
  width: 285px;
  margin: 5px;
    float: left;
}
}
*/

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 20px;
  }
  h3 {
    font-size: 48px;  
  }
  h5 {
    font-size: 30px;  
  }
    
    .flip-container, .front, .back {
  height: 285px;
  width: 285px;
  margin: 5px;
    float: left;
}
}

body {
  padding: 50px;
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.squares_form{
    margin:10px auto;
    height: 100%;
    overflow: hidden;
}
.news-item {
  background-color: #003baa;
  display: table; 
  float: left;
  height: 85px;
  width: 85px;
/*  margin: 5px;*/
  overflow: hidden;
    cursor:pointer;
}
.news-item-new {
  background-color: white;
  display: table; 
  float: left;
  height: 85px;
  width: 85px;
/*  margin: 5px;*/
  overflow: hidden;
/*    cursor:pointer;*/
    border-style: dashed;
    border-width: 2px;
    
}

.news-item-new textarea {
    background-color: transparent;
    border: 0px solid;
    height: 30px;
    overflow: hidden;
    width: 160px;
    width: 70px;
    font-size:0.9em;
    color:black;
    resize: none;
    text-align:center;
}
.news-item-new textarea:focus, input:focus{
    outline: 0;
}

.news-item-disabled {
  background-color: #aa001a;
  display: table; 
  float: left;
  height: 85px;
  width: 85px;
/*  margin: 5px;*/
  overflow: hidden;
    cursor:no-drop;
}

.news-item-back {
  background-color: #0e6f25;
  display: table; 
  float: left;
  height: 85px;
  width: 85px;
  margin-left: 10px;
  overflow: hidden;
cursor: not-allowed;
}
.news-item:hover {
      background-color: #512dea;

}
    
.news-item-title {
  color: #fff;
  display: table-cell; 
  line-height: 1.2;
  font-size: 0.9em;
  text-align: center; 
  vertical-align: middle; 
}

.news-item-new-title {
  color: #003baa;
  display: table-cell; 
  line-height: 1.2;
  font-size: 0.9em;
  text-align: center; 
  vertical-align: middle; 
}

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000; /* Chrome, Safari, Opera */
	perspective: 1000;
}
	/* flip the pane when hovered */
/*	.flip-container:hover*/
    .flip-container.flip .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	  height: 85px;
  width: 85px;
  margin: 5px;
    float: left;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform:  rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}